<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.rosary.serve</string>
    <key>ProgramArguments</key>
    <array>
        <string>__RSRY_BIN__</string>
        <string>serve</string>
        <string>--transport</string>
        <string>http</string>
        <string>--port</string>
        <string>8383</string>
    </array>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ExitTimeOut</key>
    <integer>5</integer>
    <key>ThrottleInterval</key>
    <integer>5</integer>
    <key>WatchPaths</key>
    <array>
        <string>__RSRY_BIN__</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>__HOME__/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
        <key>HOME</key>
        <string>__HOME__</string>
    </dict>
    <key>StandardOutPath</key>
    <string>__RSRY_LOG__</string>
    <key>StandardErrorPath</key>
    <string>__RSRY_LOG__</string>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
